@media (max-width: 768px) {

.modal-content {
    transform: scale(0.85);
    transform-origin: center;
    max-height: 90vh;
    overflow-y: auto;
    box-sizing: border-box;
  }

.modal {
  overflow: hidden;
}

#instruction-text p {
    font-size: 1.1rem;
    text-align: center;
    padding: 0 1rem;
}

.close-button {
    font-size: 0.9rem;
    padding: 0.5rem 1.2rem;
}

html {
scroll-behavior: smooth;
}

body {
font-family: 'Segoe UI', sans-serif;
overflow: hidden;
}
}

